{% extends "layout.html" %}

{% block title %}
    Cadastros
{% endblock %}

{% block main %}

<div>
    <h1>CADASTRAR SERVIÇO</h1>
    <div>
        <form method="POST">
       
            {% csrf_token %}
            {{ form.as_p }}

         <button type="submit" class="btn-btn">Cadastrar Pessoa</button>
        </form>
     </div>

        <div>
            <h1>CONSULTAR SERVIÇOS</h1>
            <div style="flex">
                <ul style="align-items:center">
                    {% for servico in servicos %}
                    <li> {{ servico }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

        {% endblock %}
